<configuration>
  <appender name="rolling" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>replies.log</File>
    <encoder>
      <pattern>%d{ISO8601} [%t] %c %-5p %m%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <maxIndex>2</maxIndex>
      <FileNamePattern>replies.log.%i</FileNamePattern>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>1000KB</MaxFileSize>
    </triggeringPolicy>
  </appender>
  <root level="INFO">
    <appender-ref ref="rolling"/>
  </root>
</configuration>
