<html>
  <head>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <!-- change mattb.local here to your hostname. -->
    <script src="http://127.0.0.1:8080/application.js" type="text/javascript"></script> 
    <script type="text/javascript">
      $(function() {
          var jug = new Juggernaut;
          var n = 0;
          jug.subscribe("/tweets/<%= @token %>", function(data){
            console.log(data);
            var div = $("<div class='tweet' id='tweet-" + n + "'>" + data + "</div>");
            div.prependTo($("body"));
            $.each($(".tweet"), function(idx, elt) {
              if(idx > 50) {
                $(elt).remove();
              }
            });
            n++;
          });
          setTimeout(function() {
            $.get(window.location + "/refresh");
          },1000);
        });
    </script>
    <style type='text/css'>
      body { 
        margin: 0;
        font-family: Helvetica;
        font-size: 24pt;
      }
    </style>
  </head>
  <body>
  </body>
</html>
